// Local variable here

const int PHYSICAL_CORES_COUNT = 12;
const double RAM_SIZE_GB = 16;
const double CLOCK_RATE_GHZ = 3.4;
const char* LOCAL_IP_ADDRESS = "192.168.1.64";
const char* MAIN_WORKER_IP_ADDRESS = "192.168.1.64";
const int MAX_SIZE_BULK_GET = 75000;
const float STORAGE_FOR_CACHING_IN_GB = 2.0;